In [1]:
person = {
    "first": "Steve",
    "last": "Smith",
    "email": "Steve.Smith@gmail.com"
}

In [2]:
people = {
    "first": ["Steve"],
    "last": ["Smith"],
    "email": ["Steve.Smith@gmail.com"]
}

In [4]:
people = {
    "first": ["Steve", "David", "Michael", "Steve"],
    "last": ["Smith", "Warner", "Clarke", "Carell"],
    "email": ["Steve.Smith@gmail.com", "David.Warner@gmail.com", "Michael.Clarke@gmail.com", "Steve.Carell@gmail.com"]
}

In [5]:
people["email"]

['Steve.Smith@gmail.com',
 'David.Warner@gmail.com',
 'Michael.Clarke@gmail.com',
 'Steve.Carell@gmail.com']

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

     first    last                     email
0    Steve   Smith     Steve.Smith@gmail.com
1    David  Warner    David.Warner@gmail.com
2  Michael  Clarke  Michael.Clarke@gmail.com
3    Steve  Carell    Steve.Carell@gmail.com

In [9]:
df['email']

0       Steve.Smith@gmail.com
1      David.Warner@gmail.com
2    Michael.Clarke@gmail.com
3      Steve.Carell@gmail.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.email

0       Steve.Smith@gmail.com
1      David.Warner@gmail.com
2    Michael.Clarke@gmail.com
3      Steve.Carell@gmail.com
Name: email, dtype: object

In [13]:
df[['last', 'email']]

     last                     email
0   Smith     Steve.Smith@gmail.com
1  Warner    David.Warner@gmail.com
2  Clarke  Michael.Clarke@gmail.com
3  Carell    Steve.Carell@gmail.com

In [14]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [15]:
df.iloc[0]

first                    Steve
last                     Smith
email    Steve.Smith@gmail.com
Name: 0, dtype: object

In [16]:
type(df.iloc[0])

pandas.core.series.Series

In [17]:
df.iloc[[0, 1]]

   first    last                   email
0  Steve   Smith   Steve.Smith@gmail.com
1  David  Warner  David.Warner@gmail.com

In [20]:
df.iloc[[0, 1], [1, 2]]

     last                   email
0   Smith   Steve.Smith@gmail.com
1  Warner  David.Warner@gmail.com

In [21]:
df.loc[[0, 1], ['last', 'email']]

     last                   email
0   Smith   Steve.Smith@gmail.com
1  Warner  David.Warner@gmail.com