In [32]:
person = {
    "first": "Steve",
    "last": "Smith",
    "email": "Steve.Smith@gmail.com"
}

In [33]:
people = {
    "first": ["Steve"],
    "last": ["Smith"],
    "email": ["Steve.Smith@gmail.com"]
}

In [34]:
people = {
    "first": ["Steve", "David", "Michael", "Steve", "John", "Jane"],
    "last": ["Smith", "Warner", "Clarke", "Carell", "Doe", "Doe"],
    "email": ["Steve.Smith@gmail.com", "David.Warner@gmail.com", "Michael.Clarke@gmail.com", "Steve.Carell@gmail.com", "John.Doe@gmail.com", "Jane.Doe@gmail.com"]
}

In [35]:
people["email"]

['Steve.Smith@gmail.com',
 'David.Warner@gmail.com',
 'Michael.Clarke@gmail.com',
 'Steve.Carell@gmail.com',
 'John.Doe@gmail.com',
 'Jane.Doe@gmail.com']

In [36]:
import pandas as pd

In [37]:
df = pd.DataFrame(people)

In [38]:
df

     first    last                     email
0    Steve   Smith     Steve.Smith@gmail.com
1    David  Warner    David.Warner@gmail.com
2  Michael  Clarke  Michael.Clarke@gmail.com
3    Steve  Carell    Steve.Carell@gmail.com
4     John     Doe        John.Doe@gmail.com
5     Jane     Doe        Jane.Doe@gmail.com

In [39]:
df['email']

0       Steve.Smith@gmail.com
1      David.Warner@gmail.com
2    Michael.Clarke@gmail.com
3      Steve.Carell@gmail.com
4          John.Doe@gmail.com
5          Jane.Doe@gmail.com
Name: email, dtype: object

In [40]:
type(df['email'])

pandas.core.series.Series

In [41]:
type(df)

pandas.core.frame.DataFrame

In [42]:
df.email

0       Steve.Smith@gmail.com
1      David.Warner@gmail.com
2    Michael.Clarke@gmail.com
3      Steve.Carell@gmail.com
4          John.Doe@gmail.com
5          Jane.Doe@gmail.com
Name: email, dtype: object

In [43]:
df[['last', 'email']]

     last                     email
0   Smith     Steve.Smith@gmail.com
1  Warner    David.Warner@gmail.com
2  Clarke  Michael.Clarke@gmail.com
3  Carell    Steve.Carell@gmail.com
4     Doe        John.Doe@gmail.com
5     Doe        Jane.Doe@gmail.com

In [44]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [45]:
df.iloc[0]

first                    Steve
last                     Smith
email    Steve.Smith@gmail.com
Name: 0, dtype: object

In [46]:
type(df.iloc[0])

pandas.core.series.Series

In [47]:
df.iloc[[0, 1]]

   first    last                   email
0  Steve   Smith   Steve.Smith@gmail.com
1  David  Warner  David.Warner@gmail.com

In [48]:
df.iloc[[0, 1], [1, 2]]

     last                   email
0   Smith   Steve.Smith@gmail.com
1  Warner  David.Warner@gmail.com

In [49]:
df.loc[[0, 1], ['last', 'email']]

     last                   email
0   Smith   Steve.Smith@gmail.com
1  Warner  David.Warner@gmail.com

In [50]:
df["email"]

0       Steve.Smith@gmail.com
1      David.Warner@gmail.com
2    Michael.Clarke@gmail.com
3      Steve.Carell@gmail.com
4          John.Doe@gmail.com
5          Jane.Doe@gmail.com
Name: email, dtype: object

In [51]:
df.set_index("email", inplace=True)

In [52]:
df

                            first    last
email
Steve.Smith@gmail.com       Steve   Smith
David.Warner@gmail.com      David  Warner
Michael.Clarke@gmail.com  Michael  Clarke
Steve.Carell@gmail.com      Steve  Carell
John.Doe@gmail.com           John     Doe
Jane.Doe@gmail.com           Jane     Doe

In [53]:
df.index

Index(['Steve.Smith@gmail.com', 'David.Warner@gmail.com',
       'Michael.Clarke@gmail.com', 'Steve.Carell@gmail.com',
       'John.Doe@gmail.com', 'Jane.Doe@gmail.com'],
      dtype='object', name='email')

In [54]:
df.loc["Steve.Smith@gmail.com", "last"]

'Smith'

In [55]:
df.reset_index(inplace=True)
df

                      email    first    last
0     Steve.Smith@gmail.com    Steve   Smith
1    David.Warner@gmail.com    David  Warner
2  Michael.Clarke@gmail.com  Michael  Clarke
3    Steve.Carell@gmail.com    Steve  Carell
4        John.Doe@gmail.com     John     Doe
5        Jane.Doe@gmail.com     Jane     Doe

In [57]:
 filt = (df["last"] == "Doe")

In [58]:
df[filt]

                email first last
4  John.Doe@gmail.com  John  Doe
5  Jane.Doe@gmail.com  Jane  Doe

In [59]:
df[(df["last"] == "Doe")]

                email first last
4  John.Doe@gmail.com  John  Doe
5  Jane.Doe@gmail.com  Jane  Doe

In [60]:
df.loc[filt]

                email first last
4  John.Doe@gmail.com  John  Doe
5  Jane.Doe@gmail.com  Jane  Doe

In [61]:
df.loc[filt, 'email']

4    John.Doe@gmail.com
5    Jane.Doe@gmail.com
Name: email, dtype: object

In [62]:
filt1 = ((df['last'] == "Doe") & (df['first'] == 'John'))

In [63]:
df.loc[filt1, "email"]

4    John.Doe@gmail.com
Name: email, dtype: object

In [64]:
filt2 = ((df['last'] == "Smith") | (df['first'] == 'John'))

In [65]:
df.loc[filt2, "email"]

0    Steve.Smith@gmail.com
4       John.Doe@gmail.com
Name: email, dtype: object

In [66]:
df.loc[~filt2, "email"]

1      David.Warner@gmail.com
2    Michael.Clarke@gmail.com
3      Steve.Carell@gmail.com
5          Jane.Doe@gmail.com
Name: email, dtype: object